{{#each this}}
  <div class='photo-card'>
    <img
      src='{{previewURL}}'
      alt='{{tags}}'
      loading='lazy'
      class='gallery-img'
    />
    <div class='info'>
      <p class='info-item'>
        <b>Likes:</b> <span class="span">{{likes}}</span>
      </p>
      <p class='info-item'>
        <b>Views:</b> <span class="span">{{views}}</span>
      </p>
      <p class='info-item'>
        <b>Comments:</b> <span class="span">{{comments}}</span>
      </p>
      <p class='info-item'>
        <b>Downloads:</b> <span class="span">{{downloads}}</span>
      </p>
    </div>
  </div>
{{/each}}